/* 设置文件夹图标 */
.nav-folder-children .nav-folder-title-content::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 4 32 32' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Edefault_folder_opened%3C/title%3E%3Cpath d='M27.4,5.5H18.2L16.1,9.7H4.3V26.5H29.5V5.5Zm0,18.7H6.6V11.8H27.4Zm0-14.5H19.2l1-2.1h7.1V9.7Z' style='fill:%23dcb67a'%3E%3C/path%3E%3Cpolygon points='25.7 13.7 0.5 13.7 4.3 26.5 29.5 26.5 25.7 13.7' style='fill:%23dcb67a'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
	background-size: 20px 17px;
	transform: translate(0, 2px);
	background-repeat: no-repeat;
	display: inline-block;
	height: 13px;
	width: 20px;
	margin-right: 4px;
}
/* 设置markdown文件图标 */
.nav-folder-children
	.tree-item.nav-file
	div[data-path$='.md']
	.nav-file-title-content::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 1 32 32' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3Efile_type_text%3C/title%3E%3Cpath d='M22.038,2H6.375a1.755,1.755,0,0,0-1.75,1.75v24.5A1.755,1.755,0,0,0,6.375,30h19.25a1.755,1.755,0,0,0,1.75-1.75V6.856Zm.525,2.844,1.663,1.531H22.563ZM6.375,28.25V3.75H20.813V8.125h4.813V28.25Z' style='fill:%23c2c2c2'%3E%3C/path%3E%3Crect x='8.125' y='15.097' width='13.076' height='1.75' style='fill:%23829ec2'%3E%3C/rect%3E%3Crect x='8.125' y='24.439' width='9.762' height='1.75' style='fill:%23829ec2'%3E%3C/rect%3E%3Crect x='8.125' y='19.763' width='15.75' height='1.75' style='fill:%23829ec2'%3E%3C/rect%3E%3Crect x='8.125' y='10.23' width='15.75' height='1.75' style='fill:%23829ec2'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
	background-size: 20px 15px;
	transform: translate(0, 2px);
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	width: 20px;
	margin-right: 4px;
}
/* 设置图片文件图标 */
.nav-folder-children
	.tree-item.nav-file
	div[data-path$='.png']
	.nav-file-title-content::before,
.nav-folder-children
	.tree-item.nav-file
	div[data-path$='.jpg']
	.nav-file-title-content::before,
.nav-folder-children
	.tree-item.nav-file
	div[data-path$='.jpeg']
	.nav-file-title-content::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='64px' height='64px' viewBox='0 1 24 24' id='image' data-name='Flat Line' xmlns='http://www.w3.org/2000/svg' class='icon flat-line'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath id='secondary' d='M21,5V19a1,1,0,0,1-.29.71L14,13l-3,3L9,14,3.29,19.71A1,1,0,0,1,3,19V5A1,1,0,0,1,4,4H20A1,1,0,0,1,21,5Z' style='fill: %232ca9bc; stroke-width: 2;'%3E%3C/path%3E%3Cpolyline id='primary' points='20.71 19.71 14 13 11 16 9 14 3.29 19.71' style='fill: none; stroke: %23000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;'%3E%3C/polyline%3E%3Cline id='primary-upstroke' x1='10.95' y1='9' x2='11.05' y2='9' style='fill: none; stroke: %23000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2.5;'%3E%3C/line%3E%3Crect id='primary-2' data-name='primary' x='3' y='4' width='18' height='16' rx='1' style='fill: none; stroke: %23000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
	background-size: 20px 15px;
	transform: translate(0, 2px);
	background-repeat: no-repeat;
	display: inline-block;
	height: 14px;
	width: 20px;
	margin-right: 4px;
}