.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight,
:is(.markdown-preview-view,.markdown-rendered) mark {
  display: inline;
  box-sizing: border-box;
  background-color: inherit;
  background-image: linear-gradient(rgba(255,208,0,0.5),rgba(255,208,0,0.5));
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 100% 53%;
  border-radius: 1em;
  padding: 0 0.1em;
}